* {
  box-sizing: 0;
  margin: 0;
}

/* body {
    background-image: url("./assets/gray3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  } */

.allign {
  margin: 0 auto;
}

.main {
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.flipped {
  transform: rotateY(180deg);
}

.backContent {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
* {
  padding: 0;
  font-family: "Inter", sans-serif;
}
ul {
  text-decoration: none;
  list-style: none;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.scrolling-news-wrapper {
  white-space: nowrap;
  display: flex;
  padding: 5px 0;
  overflow: hidden;
}

.scroll-wrapper {
  transition: 0.4s ease;
  display: inline-block;
  padding-left: 18%;
  font-size: 1rem;
  animation: scroll 15s linear infinite;
  white-space: nowrap;
}

.burger-menu {
  height: 20%;
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 1.5em;
  height: 3px;
  background-color: black;
  border-radius: 10px;
}

.menu {
  width: 120px;
  height: fit-content;
  background-color: #2e2e2e;
  position: absolute;
  top: 0;
  z-index: -1;
}
.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.7em, 0em);
  transition: ease-out 0.5s;
}
.burger-bar.clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-out 0.5s;
}
.burger-bar.clicked:nth-child(3) {
  transform: rotate(130deg) translate(-0.8em, 0em);
  transition: ease-out 0.5s;
}

.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.font-fjalla {
  font-family: "Fjalla One", sans-serif;
}

.hoverUnderLineAnimation {
  display: inline-block;
  position: relative;
  color: #2e2e2e;
}

.hoverUnderLineAnimation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  top: 19px;
  left: 0;
  margin-top: 10px;
  background-color: #2e2e2e;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hoverUnderLineAnimation:hover::after,
.hoverUnderLineAnimation.active::after {
  transform: scaleX(1);
  margin-top: 10px;
  transform-origin: bottom left;
}

.openPage {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-image: url("https://media2.giphy.com/media/l3q2XB76CaWPggiNW/giphy.gif?cid=6c09b95231625463d592079e3afe57545847924265c522f2&rid=giphy.gif&ct=g");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.water-text {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  background-image: linear-gradient(to right, white 0%, aqua 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes slide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.slide-background {
  background-size: 200% 100%;
  animation: slide 5s linear infinite;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}
.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;

  .input {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif, cursive;
  }
  .focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #adadad;
    font-family: Arial, Helvetica, sans-serif, cursive;
    letter-spacing: 3px;
    font-weight: 600;
  }

  .focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    background: -webkit-linear-gradient(to left, #d0d0d0, aqua);
    background: -o-linear-gradient(to left, #d0d0d0, aqua);
    background: -moz-linear-gradient(to left, #d0d0d0, aqua);
    background: linear-gradient(to left, #d0d0d0, aqua);
  }
  .focus-input::after {
    font-size: 15px;
    color: white;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  .input:focus {
    outline: 0;
  }
  .input:focus + .focus-input::after {
    top: -15px;
  }
  .input:focus + .focus-input::before {
    width: 100%;
  }
  .has-val + .focus-input::after {
    top: -15px;
  }
  .has-val + .focus-input::before {
    width: 100%;
  }
}

.aquabtn {
  background: -webkit-linear-gradient(to top, #d0d0d0, aqua);
  background: -o-linear-gradient(to top, #d0d0d0, aqua);
  background: -moz-linear-gradient(to top, #d0d0d0, aqua);
  background: linear-gradient(to top, #d0d0d0, aqua);
}
@keyframes slideIcon {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}

.slide-icon {
  animation: slideIcon 3s linear infinite alternate;
}

.glow-on-hover {
  width: 120px;
  height: 40px;
  border: 2px solid black;
  outline: none;
  color: #000;
  background: #d0d0d0;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  z-index: 0;

  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #d0d0d0;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.background-animated {
  background: linear-gradient(45deg, #27374d, #526d82, #27374d, #2e2e2e);
  background-size: 300% 100%;
  animation: background-colors 15s ease-in-out infinite;
}

@keyframes background-colors {
  0% {
    background-position: 0% 60%;
  }
  50% {
    background-position: 100% 60%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.text-stroke {
  text-shadow: -3px -3px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.wrapper {
  display: inline-flex;
  gap: 30px;
}

.icon {
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.logo-span {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  background: #fff;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.tooltip {
  background-color: #fff;
  position: absolute;
  left: 0;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  opacity: 0;
  color: #fff;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.262, 1.55);
}
.tooltip::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: inherit;
  left: 2px;
  top: 12px;
  transform: translateX(-35%) rotate(45deg);
}
.icon:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  left: 50px;
}
.icon:hover .logo-span {
  color: white;
}
.icon:hover .logo-span,
.icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.linkedin:hover .logo-span,
.linkedin:hover .tooltip,
.linkedin:hover .tooltip {
  background: #0e76a8;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.262, 1.55);
}
.gmail:hover .logo-span,
.gmail:hover .tooltip,
.gmail:hover .tooltip {
  background: #db4a39;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.262, 1.55);
}
.telegram:hover .logo-span,
.telegram:hover .tooltip,
.telegram:hover .tooltip {
  background: #993399;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.262, 1.55);
}
.github:hover .logo-span,
.github:hover .tooltip,
.github:hover .tooltip {
  background: #000;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.262, 1.55);
}

@keyframes glowing-contact {
  0%,
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
}
.bg-gradient {
  background: linear-gradient(to bottom, #555555, #001f3f);
  animation: glowing-contact 2s infinite;
}
.bg-main {
  background: linear-gradient(to top, #d6bdbd, #001f3f);
  background-size: 200% 100%;
  animation: background-colors 10s ease-in-out infinite;
}
.bg-about {
  background: linear-gradient(to bottom, #d6bdbd, #12273c);
  background-size: 200% 100%;
  animation: background-colors 10s ease-in-out infinite;
}
.shadow-bottom {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, indigo 0px 15px 12px;
}

.scroll-btn {
  position: absolute;
  height: 60px;
  width: 30px;
  border: 0.2em solid white;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 6.25em;
  border-radius: 3em;
}
.scroll-btn::before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  animation: move-down 2s infinite;
}
@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}

.scroll-btn::after {
  position: absolute;
  content: "Scroll Down";
  width: 100px;
  display: block;
  text-align: center;
  left: -3em;
  bottom: -2.5em;
  font-size: 12px;
  color: white;
  letter-spacing: 2px;
}

.shadow-card {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contact-btn {
  background: linear-gradient(to left, #e98f8f, #27374d);
  border: 1px solid white;
}
.background-contact {
  background: linear-gradient(45deg, #e98f8f, #526d82, #27374d, #2e2e2e);
  background-size: 300% 100%;
  animation: background-colors 15s ease-in-out infinite;
}
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.icon-label {
  display: none;
  margin-top: 5px;
  font-size: 14px;
  color: white;
}

.icon-container:hover .icon-label {
  display: block;
}
.display-none {
  display: none;
}
.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  width: 90px;
  height: 90px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.back-to-top-button:hover {
  background-color: #0056b3;
}

.backtotop::before {
  content: "Back to top";
  position: absolute;
  bottom: -23px;
  left: 50%;
  width: 80px;
  transform: translateX(-50%);
  font-size: 13px;
  color: white;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.backtotop:hover::before {
  opacity: 1;
}
